<html>
<head>
	 <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- render the theme based on identity -->
    <% if (user.identity == "student") { %>
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-green.css"> 
    <% } else { %>
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
    <% } %>
    <script src="main.js"></script>
<title>Personal Page</title>


<style>

body{
    background-image: url("b2.jpg");
    background-color: #cccccc;
    background-repeat: repeat;
    background-size: auto;
  }

  </style>

</head>
<body>


<div  style="font-size:1.3vw;" class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left" style="display:none" id="Menu">
      <button onclick="closeMenu()" class="w3-bar-item w3-button w3-large">&times;</button> 
      <a  href = "/personal" class="w3-bar-item w3-button w3-black "> <i>Personal Page</i></a>
    <a  href = "/update" class="w3-bar-item w3-button w3-black "><i> Update</i> </a>
    <a  href = "/chat" class="w3-bar-item w3-button w3-black "><i> Chat Room</i> </a>
    <a  href = "/search" class="w3-bar-item w3-button w3-black "><i> Search </i></a>
    <a  href = "/contactus" class="w3-bar-item w3-button w3-black "><i> Contact Us</i></a>
  </div>

  <div  style="font-size:1.3vw;" id="main">

<div class="w3-black">
  <button id="openNav" class="w3-button w3-black w3-xlarge w3-left" onclick="openMenu()">&#9776;</button>
  <a  href = "/logout" class="w3-bar-item w3-button w3-black w3-round-large" style = "float: right"> <i>Logout</i></a>
  <div class="w3-container">
    <h1><i>Personal Page<i></h1>
    <div class="w3-container w3-center">
  <div class="w3-bar">
    <a  href = "/" class="w3-bar-item w3-button w3-black "> <i>Home Page</i></a>
     <a  href = "/personal" class="w3-bar-item w3-button w3-black w3-round-large"> <i>Personal Page</i></a>
   <a  href = "/update" class="w3-bar-item w3-button w3-black w3-round-large"><i> Update</i> </a>
   <a  href = "/chat" class="w3-bar-item w3-button w3-black w3-round-large"><i> Chat Room</i> </a>
   <a  href = "/search" class="w3-bar-item w3-button w3-black w3-round-large"><i> Search </i></a>
   <a  href = "/contactus" class="w3-bar-item w3-button w3-black w3-round-large"><i> Contact Us</i></a>
  </div>
  </div>
  </div>
</div>


	<!--Get information from database-->
<form  style="font-size:1.3vw;" action="/action_page.php" class="w3-container w3-card-4 w3-theme-l3 w3-text-blue w3-margin w3-padding-16">

 		<h1 class="w3-center">Information</h1>



    <div class="w3-container w3-theme-l1" >
  		<h2 style="text-shadow:1px 1px 0 #444">Name: <%= user.firstName %> <%= user.lastName %></h2>
	</div>

	<div class="w3-container w3-theme">
  		<h2 style="text-shadow:1px 1px 0 #444">Sex: <%= user.sex %></h2>
	</div>

	<div class="w3-container">
  <div class="w3-display-container w3-hover-opacity" style="width:50%">
    <h2 style="text-shadow:1px 1px 0 #444">Identity: </h2>
    <% if (user.identity == "student") { %>
    <img src="student.png" alt="Avatar" style="width:20%">
    <div class="w3-display-left w3-display-hover ">
      <button class="w3-button w3-black">Student</button>
    </div>
    <% } else { %>
    <img src="tutor.png" alt="Avatar" style="width:20%">
    <div class="w3-display-left w3-display-hover ">
      <button class="w3-button w3-black">Tutor</button>
    </div>
    <% } %>
  </div>
</div>

	<div class="w3-container w3-theme-d1">
  		<h2 style="text-shadow:1px 1px 0 #444">Region: <%= user.region[0] %></h2>
	</div>

	<div class="w3-container w3-theme-d2">
  		<h2 style="text-shadow:1px 1px 0 #444">Time available:  
            <% for (var i = 0; i < user.timeAvailable.length; i++) { %>
                <%= i != 0 ? ", " : "" %><%= user.timeAvailable[i] %>
            <% } %>
        </h2>
	</div>

	<div class="w3-container w3-theme-d3">
  		<h2 style="text-shadow:1px 1px 0 #444">Subject:
            <% for (var i = 0; i < user.subject.length; i++) { %>
                <%= i != 0 ? ", " : "" %><%= user.subject[i] %>
            <% } %>
        </h2>
	</div>

	<div class="w3-container w3-theme-d4">
  		<h2 style="text-shadow:1px 1px 0 #444">Education level: <%= user.educationLevel %></h2>
	</div>

	<div class="w3-container w3-theme-d5">
  		<h2 style="text-shadow:1px 1px 0 #444">Expected price: <%= user.priceRequested %></h2>
	</div>
  
  <!-- display rating if user is a tutor -->
  <% if (user.identity == "tutor") { %>
  	<div class="w3-container w3-theme-d6">
  		<h2 style="text-shadow:1px 1px 0 #444">Rating: <%= user.rating == 0 ? "Not Available" : user.rating %></h2>
	  </div>
  <% } %> 


</form>


<script>
function openMenu() {
  document.getElementById("main").style.marginLeft = "15%";
  document.getElementById("Menu").style.width = "15%";
  document.getElementById("Menu").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}
function closeMenu() {
    document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("Menu").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
</script>
<script src="https://www.w3schools.com/lib/w3codecolor.js"></script>
<script>
w3CodeColor();

</script>
</body>


</html>