<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>Result</title>
<style>

body{background: url(b2.jpg);
  background-attachment: fixed;
  }

#p1{ color:red;font-size: 30px;

color:	#F5F5F5;
	text-shadow: 4px 4px black;}

#p2{ color:red;font-size: 30px;

color:	#F5F5F5;
	text-shadow: 4px 4px black;}

.column{
	margin:50px;
	margin-left: 150px;
	float: left;
	width: 30%;
	height: 300px;
	color:	#F5F5F5;
	text-shadow: 4px 4px black;
}
.row:after{
	content:"";
	display: table;
	clear: both;
	color:	#F5F5F5;
	text-shadow: 4px 4px black;
}


</style>
</head>
<body>
	

	<div style="font-size:1.3vw;"  class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left" style="display:none" id="Menu">
  		<button onclick="closeMenu()" class="w3-bar-item w3-button w3-large">&times;</button>	
      <a  href = "/" class="w3-bar-item w3-button w3-black "> <i>Home Page</i></a>
  		<a  href = "/personal" class="w3-bar-item w3-button w3-black "> <i>Personal Page</i></a>
	 	<a  href = "/update" class="w3-bar-item w3-button w3-black "><i> Update</i> </a>
	 	<a  href = "/chat" class="w3-bar-item w3-button w3-black "><i> Chat Room</i> </a>
	 	<a  href = "/search" class="w3-bar-item w3-button w3-black "><i> Search </i></a>
	 	<a  href = "/contactus" class="w3-bar-item w3-button w3-black "><i> Contact Us</i></a>
	</div>

<div  style="font-size:1.3vw;" id="main">

<div class="w3-black">
  <button id="openNav" class="w3-button w3-black w3-xlarge w3-left" onclick="openMenu()">&#9776;</button>
    <a  href = "/logout" class="w3-bar-item w3-button w3-black w3-round-large" style = "float: right"> <i>Logout</i></a>
  <div class="w3-container">
    <h1><i>Search Result<i></h1>

    <div class="w3-container w3-center">
	<div class="w3-bar">
<a  href = "/" class="w3-bar-item w3-button w3-black w3-round-large"> <i>Home Page</i>
  	 <a  href = "/personal" class="w3-bar-item w3-button w3-black w3-round-large"> <i>Personal Page</i></a>
	 <a  href = "/update" class="w3-bar-item w3-button w3-black w3-round-large"><i> Update</i> </a>
	 <a  href = "/chat" class="w3-bar-item w3-button w3-black w3-round-large"><i> Chat Room</i> </a>
	 <a  href = "/search" class="w3-bar-item w3-button w3-black w3-round-large"><i> Search </i></a>
	 <a  href = "/contactus" class="w3-bar-item w3-button w3-black w3-round-large"><i> Contact Us</i></a>
	</div>
	</div>
  </div>
</div>

	<br>

	 

    <div style="width: 99%; height:300px; overflow:auto;float: left;">
      <table class="w3-table-all" >
      	<thead>
      <tr class="w3-green">
        <th>Name</th>
        <th>Sex</th>
        <th>Education level</th>
        <th>Region</th>
        <th>Avalible Day</th>
        <th>Price Requested</th>
				<th>Chat</th>
      </tr>
    </thead>
		<!-- render the table of results -->
    <% if (result.length == 0) { %>
		<tr>
			 <td rowspan="7"> No results found! </td>
		<% } else { %>
		<% for (var i = 0; i < result.length; i++) { %> 
		<tr>
			<td><%= result[i].firstName %> <%= result[i].lastName %></td>
			<td><%= result[i].sex %></td>
			<td><%= result[i].educationLevel %></td>
			<td><%= result[i].region[0] %></td> 
			<td> 
			<% for (var j = 0; j < result[i].timeAvailable.length; j++) { %> 
				 <%= j != 0 ? ", " : "" %><%= result[i].timeAvailable[j] %>
			<% } %>
			</td>
			<td> $<%= result[i].priceRequested %> </td>
			<td> <form action="/chat" method="POST"> <button type="submit" name="id" value="<%= result[i].id %>" class="w3-bar-item w3-button w3-white w3-round-large"><i>Chat</i></button></form></td>
		<% } %>
		<% } %>
  </table>
</div>


 <!--Students list from database-->

<script>

function openMenu() {
  document.getElementById("main").style.marginLeft = "15%";
  document.getElementById("Menu").style.width = "15%";
  document.getElementById("Menu").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}
function closeMenu() {
    document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("Menu").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
</script>
<script src="https://www.w3schools.com/lib/w3codecolor.js"></script>
<script>
w3CodeColor();
</script>

</body>


</html>